@inherits LayoutComponentBase

<style >
    .content-container {
        background-color: black;
        padding: 20px 15%;
    }
</style>

<div>
    <NavBar />
</div>

<div class="content-container">
    @Body
</div>