<nav class="nav-container">
    <div>

        <!-- logo goes here-->
        <h1 class="logo"><a href="#">Navio</a></h1>
    </div>

    <div class="nav-list">
        <a href="#" class="">Products</a>
        <AuthorizeView>

            <Authorized>
                <a href="#" class="">Cart</a>
                <a href="#" class="">Account</a>
                <a href="#" class="">Sign out</a>
            </Authorized>

            <NotAuthorized>
                <a href="#" class="">Login</a>
                <a href="#" class="">Register</a>
            </NotAuthorized>

        </AuthorizeView>
    </div>
</nav>