*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
# Visual Studio Code
.VS Code

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
# Visual Studio
.vs/
# Compiled Source
*.com
*.class
*.dll
*.exe
*.o
*.so
src/ButterflyStore.Server/appsettings.Development.json

src/ButterflyStore.Server/app.config

src/ButterflyStore.Server/TreblleLog.txt

src/ButterflyStore.Server/Program.cs

src/ButterflyStore.Server/app.db
